
body {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  color: #333;
}
h1.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}
h3.product-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000;
}
