body {
  width: 1280px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1200px;
  background-color: #fff;
}
.button {
  font: inherit;
  text-align: center;
  vertical-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #604e43;
}
.button:active {
  color: #928a85;
  background-color: #503e33;
}
.button-detailed {
  font: inherit;
  text-align: center;
  vertical-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.button-detailed:hover,
.button-detailed:focus {
  background-color: #669ec0;
}
.button-detailed:active {
  color: #94b9d2;
  background-color: #5496bd;
}
.search-button {
  font-size: 21px;
  line-height: 26px;
}
.title-and-reason h1 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}
.product-list h3,
.feature-list h3 {
  font-family: "PT Sans" , "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000;
}
.main-nav {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation .inner-page {
  color: #766357;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.2);
}
.background-top {
  position: relative;
  width: 100%;
  height: 508px;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center 20%;
}
.background-top::before {
  content: url("../img/top-words.png");
  display: block;
  position: absolute;
  top: 76px;
  left: 371px;
}
.background-top::after {
  content: url("../img/top-mask.png");
  display: block;
  position: absolute;
  bottom: 0px;
  left:0;
  width: 100%;
  height: 57px;
}
.title-and-reason {
  text-align: center;
}
.feature {
  text-align: center;
}
.feature-town-text,
.feature-bridge-text
 {
  color: #fff;
  background-color: #81b3d2;
}
.product-list,
.feature-list {
  list-style: none;
}
.feature-list {
  background-color: #eee;
}
.search-preview {
  text-align: center;
}
.search h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000;
}
.search-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.search-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}
.search-item input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
}
.search-item input:hover {
  background-color: #ebebeb;
}
.search-item input:focus {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}
.main-footer {
  color: #000;
  background-color: #fff;
}
.footer-invitation{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.footer-social ul {
  list-style: none;
}
.footer-logo {
  line-height: 26px;
}
.filter {
  color: #fff;
  background-color: #81b3d2;
  background-image: url("../img/background-inner.jpg");
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.filter-item-cost p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.filter-item-cost input {
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}
.sorting-result {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}
.sorting-items {
  font-size: 12px;
  line-height: 18px;
}
.sorting-items ul {
  list-style: none;
}
.sorting-items span {
  color: #000;
}
.sorting-items a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-items a:hover,
.sorting-items a:focus {
  color: #81b3d2;
  border-bottom: none;
}
.sorting-items a:active {
  color: #000;
}
.result-hotel {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}
.result-hotel:hover,
.result-hotel:focus {
  color: #81b3d2;
}
.result-hotel:active {
  color: #cacaca;
}
.site-navigation {
  display: flex;
}
.site-navigation li{
  flex-basis: 240px;
}
